/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {

  height: 100%;
  overflow-x: hidden;
    overflow-y: auto;
}

body {
  font-size: 100px;
  font-size: 2.5vw;
  font-family: 'Press Start 2P', cursive;
  line-height: 0;
  color: #FFFFFF;
}


/* =============================================================================
  CONTENT
============================================================================= */

.cover {
  height: 100%;
   width: 100%;
   padding: auto;
   margin: auto;
}

.content {
  position: relative;
  top: 50%;
  z-index: 2;
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;

}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);


}
